<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>Angular UI ~ UI.Map Doc</title>

  <!-- Le css -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/prettify.css"/>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>

      <link rel="stylesheet" type="text/css" href="demo/demo.css"/>


</head>

<body>

<!-- Le navbar
================================================== -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="" class="navbar-brand">UI.Map</a>
        </li>
        <li class="pull-right">
          <a href="http://angular-ui.github.io">by AngularUI</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Le header
================================================== -->
<header class="bs-header">
  <div class="container">

    <h1>UI.Map</h1>

    <p>This directive allows you to add map elements.</p>

    <p>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-map">Code on Github</a>
      <a class="btn btn-outline-inverse btn-lg" href="https://github.com/angular-ui/ui-map/releases/tag/v0.5.0">
        <i class="glyphicon glyphicon-download-alt"></i> Download <small>(0.5.0)</small>
     </a>
    </p>
  </div>
  <div class="bs-social container">
      <ul class="bs-social-buttons list-inline list-unstyled">
          <li>
              <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-map&amp;type=watch&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          </li>
          <li>
             <iframe
            src="http://ghbtns.com/github-btn.html?user=angular-ui&amp;repo=ui-map&amp;type=fork&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
          </li>
          <li>
              <a href="https://twitter.com/share" class="twitter-share-button"
                 data-hashtags="angularjs">Tweet</a>
              <script>!function (d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = "//platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");</script>
          </li>
          <li>
              <!-- Place this tag where you want the +1 button to render. -->
              <div class="g-plusone" data-size="medium"></div>

              <!-- Place this tag after the last +1 button tag. -->
              <script type="text/javascript">
                  (function () {
                      var po = document.createElement('script');
                      po.type = 'text/javascript';
                      po.async = true;
                      po.src = 'https://apis.google.com/js/plusone.js';
                      var s = document.getElementsByTagName('script')[0];
                      s.parentNode.insertBefore(po, s);
                  })();
              </script>
          </li>
      </ul>
  </div>
</header>

<!-- Le main
================================================== -->
<div class="container">

  <!-- Le directive
================================================== -->

<section id="map" ng-cloak>
  <div class="page-header">
    <h1>Google Maps</h1>
  </div>
  <div class="well"  ng-controller="MapCtrl">
    <div class="row">
      <div class="col-md-3">
        <h4>Click to add a marker!</h4>
        <p>{{zoomMessage}}</p>
        <ul class="list-unstyled">
          <li ng-repeat="marker in myMarkers">
            <a class="btn btn-default" ng-click="myMap.panTo(marker.getPosition())">
              Pan to Marker {{$index}}
            </a>
          </li>
        </ul>

        <!-- this is the confusing part. we have to point the map marker directive
            at an existing google.maps.Marker object, so it can hook up events -->
        <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]"
             ui-event="{'map-click': 'openMarkerInfo(marker)'}">
        </div>

        <div ui-map-info-window="myInfoWindow">
          <h1>Marker</h1>
          Lat: <input ng-model="currentMarkerLat">, Lng: <input ng-model="currentMarkerLng">
          <a class="btn btn-primary" ng-click="setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)">Set Position</a>
        </div>
      </div>

      <!--Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
      google maps-->
      <div id="map_canvas" ui-map="myMap" class="col-md-8 map"
           ui-event="{'map-click': 'addMarker($event, $params)', 'map-zoom_changed': 'setZoomMessage(myMap.getZoom())' }"
           ui-options="mapOptions">
      </div>
    </div>
  </div>
    <h3>How?</h3>


    <div >

      <tabset>
        <tab heading="Markup">
          <div plunker-content="markup">
<pre class="prettyprint">&lt;section id="map"&gt;
&lt;h4&gt;Click to add a marker!&lt;/h4&gt;
&lt;p&gt;{{zoomMessage}}&lt;/p&gt;
&lt;ul&gt;
  &lt;li ng-repeat=&quot;marker in myMarkers&quot;&gt;
    &lt;a ng-click=&quot;myMap.panTo(marker.getPosition())&quot;&gt;Pan to Marker {{$index}}&lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;

&lt;!-- this is the confusing part. we have to point the map marker directive
  at an existing google.maps.Marker object, so it can hook up events --&gt;
&lt;div ng-repeat=&quot;marker in myMarkers&quot; ui-map-marker=&quot;myMarkers[$index]&quot;
  ui-event=&quot;{&#x27;map-click&#x27;: &#x27;openMarkerInfo(marker)&#x27;}&quot;&gt;
&lt;/div&gt;

&lt;div ui-map-info-window=&quot;myInfoWindow&quot;&gt;
  &lt;h1&gt;Marker&lt;/h1&gt;
  Lat: &lt;input ng-model=&quot;currentMarkerLat&quot;&gt;, Lng: &lt;input ng-model=&quot;currentMarkerLng&quot;&gt;
  &lt;a ng-click=&quot;setMarkerPosition(currentMarker, currentMarkerLat, currentMarkerLng)&quot;&gt;Set Position&lt;/a&gt;
&lt;/div&gt;

&lt;!-- Giving the div an id="map_canvas" fix problems with twitter bootstrap affecting
google maps --&gt;
&lt;div id=&quot;map_canvas&quot; ui-map=&quot;myMap&quot; class=&quot;map&quot;
  ui-event=&quot;{&#x27;map-click&#x27;: &#x27;addMarker($event, $params)&#x27;, &#x27;map-zoom_changed&#x27;: &#x27;setZoomMessage(myMap.getZoom())&#x27; }&quot;
  ui-options=&quot;mapOptions&quot;&gt;
&lt;/div&gt;
&lt;/section&gt;</pre>
    <div style="margin-top: 200px;"></div>
            </div>
          </tab>
          <tab heading="CSS">
          <div plunker-content="css">
  <pre class="prettyprint">.map {
  height: 400px;
  width: 600px;
  margin: auto;
}</pre>
    <div style="margin-top: 600px;"></div>
          </div>
        </tab>
          <tab heading="JavaScript">
        <div plunker-content="javascript">
<pre class="prettyprint">function initCall() {
  console.log('Google maps api initialized.');
  angular.bootstrap(document.getElementById('map'), ['doc.ui-map']);
}

app.controller(&#39;MapCtrl&#39;, [&#39;$scope&#39;, function($scope) {

$scope.myMarkers = [];

$scope.mapOptions = {
  center: new google.maps.LatLng(35.784, -78.670),
  zoom: 15,
  mapTypeId: google.maps.MapTypeId.ROADMAP
};

$scope.addMarker = function($event, $params) {
  $scope.myMarkers.push(new google.maps.Marker({
    map: $scope.myMap,
    position: $params[0].latLng
  }));
};

$scope.setZoomMessage = function(zoom) {
  $scope.zoomMessage = &#x27;You just zoomed to &#x27;+zoom+&#x27;!&#x27;;
  console.log(zoom,&#x27;zoomed&#x27;)
};

$scope.openMarkerInfo = function(marker) {
  $scope.currentMarker = marker;
  $scope.currentMarkerLat = marker.getPosition().lat();
  $scope.currentMarkerLng = marker.getPosition().lng();
  $scope.myInfoWindow.open($scope.myMap, marker);
};

$scope.setMarkerPosition = function(marker, lat, lng) {
  marker.setPosition(new google.maps.LatLng(lat, lng));
};
}]);</pre>
        </div>
      </tab>
        </tabset>
      </div>
    <p class="alert alert-info"><i class="icon-info-sign"></i> Remember that you can pass a variable containing an object to <code>ui-event</code></p>

</section>


</div>

<!-- Le javascript
================================================== -->
<script src="assets/vendor/prettify.js"></script>
<script src="assets/vendor/angular.min.js"></script>
<script src="assets/vendor/ui-bootstrap-tpls.min.js"></script>
<script src="core/prettifyDirective.js"></script>
<script src="core/plunker.js"></script>
<script src="https://cdn.rawgit.com/angular-ui/ui-event/master/dist/event.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initCall"></script>
<script src="dist/ui-map.min.js"></script>


<script>
  /* global console:false, google:false */
/*jshint unused:false */
'use strict';

function initCall() {
  console.log('Google maps api initialized.');
  angular.bootstrap(document.getElementById('map'), ['doc.ui-map']);
}

angular.module('doc.ui-map', ['ui.map', 'prettifyDirective', 'ui.bootstrap', 'plunker' ])
  .controller('MapCtrl', ['$scope', function ($scope) {

    $scope.myMarkers = [];

    $scope.mapOptions = {
      center: new google.maps.LatLng(35.784, -78.670),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    $scope.addMarker = function ($event, $params) {
      $scope.myMarkers.push(new google.maps.Marker({
        map: $scope.myMap,
        position: $params[0].latLng
      }));
    };

    $scope.setZoomMessage = function (zoom) {
      $scope.zoomMessage = 'You just zoomed to ' + zoom + '!';
      console.log(zoom, 'zoomed');
    };

    $scope.openMarkerInfo = function (marker) {
      $scope.currentMarker = marker;
      $scope.currentMarkerLat = marker.getPosition().lat();
      $scope.currentMarkerLng = marker.getPosition().lng();
      $scope.myInfoWindow.open($scope.myMap, marker);
    };

    $scope.setMarkerPosition = function (marker, lat, lng) {
      marker.setPosition(new google.maps.LatLng(lat, lng));
    };
  }])
;
</script>

</body>

</html>
